/*Gauri Rasa*/

.yellow-orange-image-feature-layer-5
{

}
.yellow-orange-image-feature-layer-4
{

}
.yellow-orange-image-feature-layer-3
{
	background-image: url("gauri-rasa-icon.png");
}
.yellow-orange-image-feature-layer-2
{
	background-image: url("IshvariEeshwar.png");
}
.yellow-orange-image-feature-layer-1
{
	background-image: url("IshvariWithGuitar.png");
}